<template lang="pug">
.modal-backdrop
  .modal
    .modal-header
      p {{ action }}
      img.close(src="../assets/x.png" @click.stop="onClose")
    .modal-body
      input(v-model="item.header" placeholder="Введите описание")
      textarea(v-model="item.content" placeholder="Введите описание")
      date-picker(v-model="item.date"  placeholder="Введите дату" type="datetime" value-type="format" format="YYYY-MM-DD HH:mm")
    .modal-footer
      button(type="button" class="btn-green" @click="onClose") Отмена
      button(type="button" class="btn-green" @click="onSubmit") Сохранить
</template>

<script>
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'
export default {
  name: 'modal-confirm',
  props: ['item', 'action'],
  data: function () {
    return {
      visible: false
    }
  },
  components: {
    'date-picker': DatePicker
  },
  methods: {
    onSubmit () {
      if (this.action === 'Создать') {
        this.$store.dispatch('CREATE_NOTIFICATION', this.item)
      } else {
        this.$store.dispatch('UPDATE_NOTIFICATION', this.item)
      }
      this.$emit('close')
    },
    onClose () {
      this.$emit('close')
    }
  }
}
</script>

<style lang="css">
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 450px;
  background: #FFFFFF;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  font-size: 20px;
}

.modal-header,
.modal-footer,
.modal-body {
  display: flex;
  justify-content: space-between;
}
.modal-header {
  padding: 0px 10px 0px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #000000;
}
.modal-footer {
  padding: 10px;
  border-top: 1px solid #eeeeee;
  justify-content: space-between;
}
.modal-body {
  padding: 0px 10px 0px 10px;
  flex-direction: column;
}
input, textarea {
  font-size: 13px;
  padding: 6px 0 4px 10px;
  margin: 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px;
}
.close{
  margin: 20px 10px 0px 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.btn-green {
  color: white;
  background: #4CAF50;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #4CAF50;
  border-radius: 2px;
}
</style>
