<template lang="pug">
#app
  .nav-panel
    .nav-btn
      router-link.nav-link(exact-active-class = "active" to="/") Main
    .nav-btn
      router-link.nav-link(exact-active-class = "active" to="/contacts") Contacts
    .nav-btn
      router-link.nav-link(exact-active-class = "active" to="/notifications") Notifications
  router-view.router
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="css">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
.nav-panel {
    /* для закрепления сверху(липка навигация)*/
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    min-width: 400px  ;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 999;
}
.nav-btn {
    float: left;
}
.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-link:hover {
  background-color: #48914a;
}
.active {
    background-color: #4CAF50;
}
.router {
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
}
</style>
