<template lang="pug">
  h1 Contacts
</template>

<script>
export default {
  name: 'Contacts',
  data () {
    return {
      title: 'Contacts'
    }
  }
}
</script>

<style scoped>
h1 {
  font-weight: normal;
}

</style>
