<template lang="pug">
#Main
  h1 Main
</template>

<script>
export default {
  name: 'Main',
  data () {
    return {
      info: null
    }
  }
}
</script>

<style scoped>
h1 {
  font-weight: normal;
}
</style>
