<template lang="pug">
.notifications
  transition-group(class='group' name="list" tag='div')
    notification-block.todo-item(v-for="item in NOTIFICATIONS" :key="item.id" :item="item" @open="showModal(item)")
  modal(v-show="isModalVisible" @close="closeModal" :item="obj" :action="action")
  create-notification-block(@open="showModal(null)")
</template>

<script>
import {mapGetters} from 'vuex'
import NotificatioBlock from '../components/blocks/NotificationBlock'
import CreateNotificationBlock from '../components/blocks/CreateNotificationBlock'
import Modal from '../components/modal/ModalNotification'
export default {
  name: 'notifications',
  data () {
    return {
      title: 'notifications',
      action: null,
      isModalVisible: false,
      obj: {'header': null, 'content': null, 'date': null}
    }
  },
  methods: {
    showModal (item) {
      this.action = 'Редактировать'
      this.obj = item
      if (item === null) {
        this.action = 'Создать'
        this.obj = {'header': null, 'content': null, 'date': null}
      }
      this.isModalVisible = true
    },
    closeModal () {
      this.isModalVisible = false
      this.obj = ''
    }
  },
  components: {
    'notification-block': NotificatioBlock,
    'create-notification-block': CreateNotificationBlock,
    'modal': Modal
  },
  mounted () {
    this.$store.dispatch('GET_NOTIFICATIONS')
  },
  computed: {
    ...mapGetters(['NOTIFICATIONS'])
  }
}
</script>

<style scoped>
.group {
  font-weight: normal;
  min-width: 400px;
  display: flex;
  justify-content:center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.todo-item {
  transition: opacity 0.5s, transform 1s;
}
.list-leave-active {
  position: absolute;
}
.list-enter, .list-leave-to {
  opacity: 0;
}
</style>
