<template lang="pug">
.create-notification-block(@click="add_notification()")
  img(src="../assets/plus3.png")
</template>

<script>
export default {
  name: 'create-notification-block',
  methods: {
    add_notification: function () {
      this.$emit('open')
    }
  }
}
</script>

<style  lang="css" scoped>
.create-notification-block   {
    font-weight: normal;
    position: fixed;
    width: 70px;
    height: 70px;
    right: 30px;
    bottom: 30px;
    border-radius:50%;
    background-color: #4CAF50;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.15);
    display: flex;
}
.create-notification-block:hover{
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2), 0 5px 5px rgba(0,0,0,0.2);
}
img{
  margin: auto;
  width: 70px;
  height: 70px;
}
</style>
