<template lang="pug">
.notification-block(@click="update_notification()")
  .header
    span {{ item.header }}
    img(src="../assets/delete.png" @click.stop="del_notification(item)")
  .body
    span {{ this.content }}
  .footer
    span Уведомить: {{ item.date }}
</template>

<script>
export default {
  name: 'notification-block',
  props: ['item'],
  data () {
    return {
      title: 'notification-block'
    }
  },
  methods: {
    del_notification: function (item) {
      this.$store.dispatch('DELETE_NOTIFICATION', item)
    },
    update_notification: function () {
      this.$emit('open')
    }
  },
  computed: {
    content: function () {
      if (this.item.content.length > 100) {
        return this.item.content.substr(0, 100) + '...'
      }
      return this.item.content
    }
  }
}
</script>

<style  lang="css" scoped>
.notification-block  {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    font-weight: normal;
    width: 300px;
    height: 150px;
    margin: 20px;
    padding: 5px;
    border-radius:5px;
    background: #CCCC005e;
    box-shadow: 0 7px 14px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.2);
}
.notification-block:hover{
  transform: scale(1.08);
  transition: 0.15s;
  cursor: pointer;
}
.header {
  padding: 5px 10px 0px 10px;
  display: flex;
  justify-content:space-between;
}
.body {
  display: flex;
  text-align: left;
  padding: 0px 10px 0px 10px;
}
.footer {
  text-align: left;
  padding: 0px 10px 0px 10px;
}
img{
  width: 30px;
  height: 30px;
}
</style>
